---
export const prerender = true
const lang = 'en'

import Header from '../components/Header'
import Layout from '../layouts/Layout.astro'

/**
 * If the component has client:load, import it as Component not as lazy
 */
import { lazy } from 'react'
import Projects from '../components/Projects'
import Skills from '../components/Skills'
const Experience = lazy(() => import('../components/Experience'))
const Contact = lazy(() => import('../components/Contact'))
---

<Layout title="Portfolio | Ion Munteanu" lang={lang}>
    <header
        class="w-full lg:w-10/12 mx-auto flex flex-col justify-center items-center"
    >
        <Header client:load lang={lang} />
    </header>
    <main class="w-full px-2 lg:w-10/12 mx-auto lg:mt-10 lg:px-0">
        <section
            id="projects"
            class="mt-5 rounded-lg p-1 lg:mt-10 bg-gradient-to-r from-[#C01432] to-[#3d1e51] "
        >
            <Projects client:load lang={lang} />
        </section>
        <section
            id="skills"
            class="mt-5 rounded-lg p-1 lg:mt-10 bg-gradient-to-r from-[#3d1e51] to-[#C01432]"
        >
            <Skills client:load lang={lang} />
        </section>
        <section
            id="experience"
            class="mt-5 rounded-lg p-1 lg:mt-10 bg-gradient-to-r from-[#C01432] to-[#3d1e51]"
        >
            <Experience lang={lang} />
        </section>
        <section
            id="contact"
            class="mt-5 rounded-lg p-1 lg:mt-10 bg-gradient-to-r from-[#3d1e51] to-[#C01432]"
        >
            <Contact lang={lang} />
        </section>
    </main>
    <footer
        class="border border-zinc-200 bg-neutral-100 dark:border-zinc-800 shadow-lg rounded-lg dark:bg-neutral-900 mt-5 mb-2 lg:w-10/12
        mx-2 text-lg lg:mx-auto"
    >
        <p class="text-center p-2">&copy; 2024 - Ion Munteanu</p>
        <a
            href="#"
            id="back-to-top"
            class="fixed right-5 bottom-5 p-2 rounded-full shadow-lg border dark:hover:text-primary hover:text-amber-400 hover:border-amber-400 dark:hover:border-primary transition-all duration-300 ease-in-out z-50"
            rel="noopener noreferrer"
            aria-label="Back to top"
            title="Back to top"
            style="display: none"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
            </svg>
        </a>
    </footer>
</Layout>
<script>
    document.addEventListener('scroll', () => {
        const backToTop = document.getElementById('back-to-top') as HTMLElement
        if (window.scrollY > 500) {
            if (window.innerWidth < 768) {
                return (backToTop.style.display = 'none')
            }
            backToTop.style.display = 'block'
        } else {
            backToTop.style.display = 'none'
        }
    })
</script>
